div,input{
    box-sizing: border-box;
}

.main-background {
    background-image: url(../이미지파일/travel.jpg);
    background-repeat: no-repeat;
    background-size : cover; 
    background-position: center;
    color : white;
    border-radius: 0px; 
}

.black-background {
    background-color: rgba(0,0,0,0.5);
    width : 100vw; 
    height : 100vh;
    position : fixed; 
    z-index: 5; 
    display: none;
}

.white-background {
    background-color: white; 
    width : 80%;
    margin : 100px auto;
    padding : 40px; 
    border-radius: 5px; 
}

.input-size {
    width : 100%;
    border : 1px solid #eee;
    border-radius: 5%;
    margin : auto auto 20px auto ;
    padding : 10px; 
}

.nav-menu {
    display: flex;
    align-items: center;
    padding : 15px;
    cursor: pointer;
}


.list-group {
    display: none;
}



#email-alert {
    display : none;
}

#pw-alert {
    display : none;
}

