div,input,img{
    box-sizing: border-box;
}

.left-menu {
    width : 150px;
    height : 100vh;
    background-color: rgba(0,0,0,0.9);
    color : #f6f6f6; 
    position : fixed; /* 붕 띄워준다. */
    margin-left : -150px;
}    

.left-menu p{
    text-align: right; 
    margin: 20px 5px auto auto;  
    border-bottom : 1px solid white;
}


.main-background {
    background-image: url(../이미지파일/travel.jpg);
    background-repeat: no-repeat;
    background-size : cover; 
    background-position: center;
    color : white;
    border-radius: 0px; 
}

.black-background {
    background-color: rgba(0,0,0,0.5);
    width : 100vw; 
    height : 100vh;
    position : fixed; 
    z-index: 5; 
    display : block; 
    transition: all 1s;
    transform: translateY(-100%);
}

.white-background {
    background-color: white; 
    width : 80%;
    margin : 100px auto;
    padding : 40px; 
    border-radius: 5px; 
}

.input-size {
    width : 100%;
    border : 1px solid #eee;
    border-radius: 5%;
    margin : auto auto 20px auto ;
    padding : 10px; 
}

.nav-menu {
    display: flex;
    align-items: center;
    padding : 15px;
    cursor: pointer;
}


.list-group {
    display: none;
}

.login-ani{
    transform:translateY(0px);
}

#email-alert {
    display : none;
}

#pw-alert {
    display : none;
}

.container-slide {
    width : 300vw; 
    transition: transform 1s;
}

.wrap-img {
    width : 100vh;
    float : left;
    padding : 100px;
}

.wrap-img img{
    width : 100%;
}
